<footer class="text-center footer-style">
    <div class="container">
        <div class="row">
            <div class="col-md-4 footer-col">
                <h3>Dirección</h3>
                <p>
                    Carrera 81 G Bis 42 26 sur <br />
                    Bogota - Colombia
                </p>
            </div>
            <div class="col-md-4 footer-col">
                <h3>Mis redes</h3>
                <ul class="list-inline">
                    <li>
                        <a  target="_blank" href="https://github.com/carlosloyal" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter">GitHub</i></a>
                    </li>
                    <li>
                        <a  target="_blank" href="https://www.facebook.com/carlos.amoelbmx" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i>Facebook </a>
                    </li>
                    <li>
                        <a  target="_blank" href="https://www.instagram.com/charles_loyal/" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i>Instagram</a>
                    </li>
                    
                    <li>
                        <a  target="_blank" href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                    </li>
                    <li>
                        <a  target="_blank" href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-dribbble"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 footer-col">
                <h3>Trabajo FreeLancer</h3>
                <p>Tengo conocimientos solidos en maquetación web  y me apasiona lo que hago!
                    "Nos convertimos en lo que pensamos" (Buda)
                </p>
            </div>
        </div>
    </div>
</footer>
