.example-spacer {
    flex: 1 1 auto;
}
.nav{
    background-color: black;
}
a{
    font-size: 20px;
}

ul{
    color: white;
    margin-top: 10px;
}
a:hover{
    background-color: white;
    transition: all 1.2s;
    color: black;
}